body{
    padding: 0;
    margin: 0;
;
}

html{
    padding: 0;
    margin: 0;
    color: rgb(217, 213, 255);
    background-image: url(https://st.deviantart.net/deviations/backgrounds/core/vines-dark-small.png);
    width: 100%;
}

.big-center-text{
    text-align: center;
    font-size: 42px
}

.adaptive-center-text{
    text-align: center;
    font-size: 20px;
}

@media screen and (max_width: 600px){
    .adaptive-center-text{
        text-align: center;
        font-size: 30px;
    }
}

header{
    padding: 2px 5px;
    border: solid;
    border-color: rgb(39, 39, 39);
    background-color: rgb(7, 7, 10);
    border-width: 1px;
    height:50px
}

.stat-collumns{
    display: grid;
    grid-template-columns: calc(100%/4) calc(100%/4) calc(100%/4) calc(100%/4);
    grid-template-rows: 50px;
    transition: all 1s ease;
}
.stat-collumns:hover{
    grid-template-rows: 300px;
}
.stat-collumns:hover div {
    opacity: 1;
}



.collumn{
    transition: all 1s ease;
    opacity: 0;
    border-color: rgb(39, 39, 39);
    border-width: 30px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.no-marg-padd{
    margin: 0;
    padding: 0;
}

.css{
    text-align: center;
    height: 60%;
    background-color: rgb(68, 167, 68);
    min-width: 50px;
}
.js{
    text-align: center;
    height: 60%;
    background-color: rgb(79, 78, 167);
    min-width: 50px;
}
.html{
    text-align: center;
    height: 60%;
    background-color: rgb(150, 61, 61);
    min-width: 50px;
}
.php{
    text-align: center;
    height: 60%;
    background-color: rgb(39, 0, 0);
    min-width: 50px;
}
